.changepassword-page {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .changepassword-container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 5px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    font-family: 'Sarah Cadigan-Fried', sans-serif;
  }
  
  .changepassword-form h2 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 4vh;
    text-align: center;
    color: #00796b;
  }
  
  .changepassword-success {
    color: #4caf50;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .changepassword-error {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .changepassword-form-group {
    margin-bottom: 15px;
  }
  
  .changepassword-input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f1f8e9;
    box-sizing: border-box;
  }
  
  .changepassword-button {
    width: 100%;
    padding: 12px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
    font-family: 'Sarah Cadigan-Fried', sans-serif;
  }
  
  .changepassword-button:hover {
    background-color: #004d40;
  }
  
  .changepassword-button.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .changepassword-additional-options {
    margin-top: 10px;
    text-align: center;
  }
  
  .changepassword-link {
    color: #00796b;
    text-decoration: none;
    font-weight: bold;
  }
  
  .changepassword-link:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .changepassword-page {
      padding: 10px;
    }
  
    .changepassword-container {
      padding: 20px;
    }
  
    .changepassword-form h2 {
      font-size: 22px;
    }
  }
  